appdirs==1.4.0
appnope==0.1.0
argparse2tool==0.4.3.post2
autopep8==1.2.4
avro==1.8.1
Babel==2.3.4
CacheControl==0.11.7
certifi==2015.4.28
cffi==1.9.1
cliff==2.3.0
cmd2==0.6.9
cryptography==1.7.1
cwltest==1.0.20170214185319
cwltool==1.0.20170224141733
debtcollector==1.10.0
decorator==4.0.10
dogpile.cache==0.6.2
entrypoints==0.2.2
flake8==3.2.1
future==0.16.0
galaxyxml==0.3.2
idna==2.2
ipaddress==1.0.17
ipykernel==4.5.2
ipyparallel==5.2.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
iso8601==0.1.11
isodate==0.5.4
Jinja2==2.8
jmespath==0.9.0
jsonpatch==1.14
jsonpointer==1.10
jsonschema==2.5.1
junit-xml==1.7
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
keystoneauth1==2.16.0
lockfile==0.12.2
lxml==4.6.2
MarkupSafe==0.23
mccabe==0.5.3
minio==2.0.4
mistune==0.7.3
mock==2.0.0
monotonic==1.2
msgpack-python==0.4.8
munch==2.0.4
nbconvert==4.2.0
nbformat==4.1.0
netaddr==0.7.18
netifaces==0.10.5
nose==1.3.7
notebook==4.2.3
openstacksdk==0.9.11
os-client-config==1.24.0
osc-lib==1.2.0
oslo.config==3.21.0
oslo.i18n==3.11.0
oslo.serialization==2.15.0
oslo.utils==3.21.0
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
polling==0.3.0
positional==1.1.1
prettytable==0.7.2
prompt-toolkit==1.0.9
ptyprocess==0.5.1
py==1.4.32
pyasn1==0.1.9
pycodestyle==2.2.0
pycparser==2.17
pycrypto==2.6.1
pyflakes==1.3.0
Pygments==2.1.3
PyJWT==1.4.2
pyparsing==2.1.10
pytest==3.0.5
python-cinderclient==1.9.0
python-designateclient==2.4.0
python-glanceclient==2.5.0
python-heatclient==1.7.0
python-ironicclient==1.8.0
python-keystoneclient==3.8.0
python-magnumclient==2.3.1
python-mistralclient==2.1.2
python-neutronclient==6.0.0
python-novaclient==7.0.0
python-openstackclient==3.6.0
python-swiftclient==3.2.0
python-troveclient==2.7.0
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.12.4
requestsexceptions==1.1.3
rfc3986==0.4.1
ruamel.yaml==0.13.14
schema-salad==2.2.20170222151604
shade==1.13.2
shellescape==3.4.1
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
stevedore==1.19.1
terminado==0.6
tornado==4.4.2
traitlets==4.3.1
typing==3.5.3.0
urllib3==1.19.1
warlock==1.2.0
wcwidth==0.1.7
wdl==1.0.22
widgetsnbextension==1.2.6
wrapt==1.10.8
xtermcolor==1.3
